    * {
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth; 
    }
    .root {
        --dark-gray-color: #505050;
        --ligth-gray-color: #777777;
        --dark-color: #625d5c;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1200px;
        min-width: 320px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 0;
        font-family: 'Lato-Light', sans-serif;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.5;
        color: #ffffff;
        background-color: #3e4057;
    }

    .header {
        padding: 10px;
    }

        .container {
         margin: 0 auto;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
    }    

    .nav-link {
        position: relative;
        padding: 0 12px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300;
        line-height: 50px;
        color: #ffffff;
    }

    .li-item {
        position: relative;
        padding: 5px;
    }

    .li-item span {
        color: #ffffff;
        font-weight: 300;
    }

    .li-item a {
        text-decoration: none;
        color: #d2e3d5;
        transition: color 0.5s;
    }

    a:hover {
        color: #bfbfc0;
        font-weight: 300;
        text-decoration: underline;
    }
    
    .two-columns {
        display: flex;
        flex-direction: row;
    }

    .left-column {
        display: flex;
        width: 42%;
        flex-direction: column;
        justify-content: top;
        color: #ffffff;
        padding: 30px;
    }

    .left-column-top {
        text-align: center;
    }

    .left-column-img {
        margin-bottom: 10px;
        border: 1px solid #4d4d4e;
        border-radius: 50%;
        box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .section {
        padding: 10px;
    }

    .section-title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ffffff;
        text-align: center;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        width: 58%;
        padding: 40px;
    }

    pre {
        margin-left: -400px;
        margin-top: 20px;
        padding-left: 30px;
        font-family: monospace;
        font-size: 0.9rem;
        background-color: #737788;
    }

    .code {
        text-align: left;
        font-family: monospace;
    }
    
    .footer {
        padding: 10px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        color: #ffffff;
    }

    @font-face {
    font-family: Lato-Regular;
     src: url("assets/fonts/Lato-Regular.ttf");
     font-weight: 400;
    }

    @font-face {
    font-family: Lato-Light;
     src: url("assets/fonts/Lato-Light.ttf");
     font-weight: 300;
    }

    @font-face {
    font-family: Lato-Thin;
     src: url("assets/fonts/Lato-Thin.ttf");
     font-weight: 100;
    }

    @font-face {
    font-family: Lato-Bold;
     src: url("assets/fonts/Lato-Bold.ttf");
     font-weight: 700;
    }

    